body{
  padding: 50px 0;
}

header.subheader{
  margin: 0 0 10px;
  height: 35px;
  background-color: #ccc;
  line-height: 35px;
}
.phpinfo-header{
  position: fixed;
  width:100%;
  top:0;
  left:0;
  right: 0;
  z-index: 9999;
  height: 35px;
  background-color: #222;
  border-bottom: 1px solid #080808;
  line-height: 35px;
}